html,
body {
  margin: 0;
}

section .box {
  height: 500px;
  /* 박스는 기본적으로 전부 tomato색 */
  background: tomato;
  color: #fff;
  box-sizing: border-box;
  padding: 30px 10px;
}

section .box:nth-child(2n) {
  /* 짝수번째 박스일 때는 teal색으로 변경 */
  background: teal;
}
